<!--==================-->
<!--=== BACKGROUND ===-->
<!--==================-->
<img class="village" src="../../assets/village/Base.png" />

<img class="village" src="../../assets/village/Peeps1.png" *ngIf="peepService.Upgrades === 1"/>
<img class="village" src="../../assets/village/Peeps2.png" *ngIf="peepService.Upgrades === 2"/>
<img class="village" src="../../assets/village/Peeps3.png" *ngIf="peepService.Upgrades > 2"/>

<img class="village" *ngIf="PeepsInTask('Seeds') > 0" src="../../assets/village/Seeds1.png" />
<img class="village" *ngIf="PeepsInTask('Seeds') > 9" src="../../assets/village/Seeds2.png" />
<img class="village" *ngIf="PeepsInTask('Seeds') > 19" src="../../assets/village/Seeds3.png" />

<img class="village" *ngIf="PeepsInTask('Fish') > 0" src="../../assets/village/Dock1.png" />
<img class="village" *ngIf="PeepsInTask('Books') > 0" src="../../assets/village/Library2.png" />

<img class="village" *ngIf="resourceService.UpgradeLv('Food') > 1" src="../../assets/village/Silo1.png" />
<img class="village" *ngIf="resourceService.UpgradeLv('Nest') > 1" src="../../assets/village/Woodshack1.png" />

<span class="TIP" style="position:absolute; right:0px; top:0px;" (click)="WipeSave()" >
	<span class="TIPTXT TIPBOT" style="width:120px; right:0px;">
		Wipe Save?
	</span>
	<img src="../../assets/icons/Gear.png" />
</span>

<!--=============-->
<!--=== PEEPS ===-->
<!--=============-->
<div *ngIf="Peeps.length">
	<span *ngFor="let p of Peeps">
		<app-peep [peep]="p.peep"></app-peep>
	</span>
</div>
<br />

<!--===================-->
<!--=== PEEPS PANEL ===-->
<!--===================-->
<div class="resourceList" style="left:0px; top:0px; border-radius:0px 0px 8px 8px;">
	<!-- ------------------- -->
	<!-- Peep icon + tooltip -->
	<div class="TIP" style="grid-area:1/1/span 1/span 1;">
		<span class="TIPTXT TIPBOT">
			Idle / Total Peeps (Housing Capacity)
			<br /><br />
			Peeps form the fundamental building blocks of any society. Assign them to tasks to acquire materials.
		</span>

		<img class="RESOURCE" id="Peep" src="../../assets/icons/Transparent.png" />
	</div>

	<!-- Number of Idle / Total (Max) peeps -->
	<label style="grid-area:1/2/span 1/span 1; font-weight: bold;">
		{{PeepsInTask("Idle")}} / {{peepService.Peeps.length}} ({{peepService.Capacity}})
	</label>

	<!-- Build housing button + tooltip -->
	<div class="TIP" style="grid-area:1/3/span 1/span 1; text-align:center;">
		<span class="TIPTXT TIPBOT">
			Upgrade #{{peepService.Upgrades + 1}}:
			<span *ngIf="peepService.CanUpgrade()">
				(+{{peepService.UpgradeDelta()}} Max Peeps)
				<br />
				<span *ngFor="let c of [0, 1, 2, 3, 4]">
				<span *ngIf="peepService.UpgradeCosts[c] > 0"> |
					<span [style.color]="resourceService.ResAmt(resourceService.Resources[c]) >= peepService.UpgradeCosts[c] ? 'white' : 'red'">
						{{peepService.UpgradeCosts[c]}}
					</span>
					<img class="RESOURCE-TIP" [id]="resourceService.Resources[c].code + '-TIP'" 
						 src="../../assets/icons/Transparent.png"/>
				</span>
				</span> |
			</span>
			<span *ngIf="!peepService.CanUpgrade()">Maxed!</span>
			<br /><br />
			Increases the housing capacity, allowing more Peeps to be born.
		</span>
	
		<!-- The plus and house icons -->
		<span (click)="AddHouse()">
			<img class="ICON" id="PLUS" src="../../assets/icons/Transparent.png" />
			<img class="ICON" src="../../assets/icons/House.png" />
		</span>
	</div>

	<!-- ------------------ -->
	<!-- Chick icon + tooltip -->
	<div class="TIP" style="grid-area:2/1/span 1/span 1;">
		<span class="TIPTXT TIPBOT">
			Chicks are just like children. Give them time and love and they will grow strong.
		</span>
		<img class="ICON" src="../../assets/icons/Chick.png" />
	</div>

	<!-- Number of Chicks present -->
	<label style="font-weight: bold; grid-area:2/2/span 1/span 1;">
		{{PeepsInTask("Chick")}}
	</label>

	<!-- ------------------ -->
	<!-- Egg icon + tooltip -->
	<div class="TIP" style="grid-area:3/1/span 1/span 1;">
		<span class="TIPTXT TIPBOT">
			Eggs will hatch into new Peeps after a time.
		</span>
		<img class="ICON" src="../../assets/icons/Egg.png" />
	</div>

	<!-- Number of Eggs present -->
	<label style="font-weight: bold; grid-area:3/2/span 1/span 1;">
		{{PeepsInTask("Egg")}}
	</label>

	<!-- Make peep button + tooltip -->
	<div class="TIP" style="grid-area:3/3/span 1/span 1; text-align:center;">
		<span class="TIPTXT TIPBOT">
			<span [style.color]="resourceService.ResAmt(resourceService.Resources[0]) >= peepService.PeepCost[0] ? 'white' : 'red'">
				{{peepService.PeepCost[0]}}
			</span>
			<img class="RESOURCE-TIP" [id]="resourceService.Resources[0].code + '-TIP'" 
				 src="../../assets/icons/Transparent.png"/>
			<br />
			Make a new Peep.
		</span>

		<!-- The plus and egg icons -->
		<span (click)="AddPeep()">
			<img class="ICON" id="PLUS" src="../../assets/icons/Transparent.png" />
			<img class="ICON" src="../../assets/icons/Egg.png" />
		</span>
	</div>
</div>

<!--=======================-->
<!--=== RESOURCE PANELS ===-->
<!--=======================-->
<div *ngFor="let res of resourceService.Resources">
	<div class="resourceList" *ngIf="ResAvailable(res)"
		 style="bottom:0px;" [style.left]="320*ResPosition(res) + 'px'">
		<!-- The resource panel -->
		<app-resource style="grid-area: 1/1/span 1/span 3;" [Res]="res" 
					  [Amount]="resourceService.ResAmt(res)"
					  [Capacity]="resourceService.ResCap(res)"></app-resource>

		<!-- Each task panel associated with this resource -->
		<div *ngFor="let task of resourceService.TasksOf(res)"
			 style="grid-column: 1/4;"
			 [hidden]="!playerService.Unlocked(task)">
			<app-task [Task]="task" [Units]="taskService.Supply(task)"></app-task>
		</div>
	</div>
</div>