/* ============== */
/* === LAYOUT === */
/* ============== */
/* Resources */
.resourceList
{
	position:fixed;
	padding:4px; 
	width:300px;

	background-color:#eeeeee; 

	border:1px;
	border-radius:8px 8px 0px 0px; 
	border-color:#cccccc; 
	border-style:solid;

	display: grid;
	grid-template-columns: 32px 180px 80px;
	grid-gap: 4px 4px;
}

.resourceProgress
{
	display: inline-block;
	height: 16px;
}

/* Village */
.village
{
	position: absolute;
	width: 99%;
	opacity: 1;
	z-index: -1;
}