@font-face { 
	font-family: Birbtext; 
	src: url('../../assets/birbtype.ttf'); 
}

label
{
	font-size: 20px;
	font-family: Verdana;
}

/* Tooltips */
.tip 
{
	position: relative;
	display: inline-block;
}
.tip .tiptxt
{
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;

	position: absolute;
	z-index: 1;

	padding: 4px;
	border-radius: 4px;

	width: 292px;
	bottom: 28px;
	
	font-size: 14px;
	text-align: center;
	font-family: Verdana;
}
.tip:hover .tiptxt
{
	visibility: visible;
}

.tip .tiptxt-low
{
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;

	position: absolute;
	z-index: 1;

	padding: 4px;
	border-radius: 4px;

	width: 292px;
	top: 28px;
	
	font-size: 14px;
	text-align: center;
	font-family: Verdana;
}
.tip:hover .tiptxt-low
{
	visibility: visible;
}


/* Icons */
.icon
{
	width: 24px;
	height: 24px;
	background-size: 72px 24px;
	background-position-x: -24px;
}

#plus {background-image: url('../../assets/icons/Plus.png'); }
#minus {background-image: url('../../assets/icons/Minus.png'); }

.icon:hover
{
	background-position-x: -48px;
}

/* Resources */
.resource
{
	width: 24px;
	height: 24px;
	background-size: 120px 24px;
	background-image: url('../../assets/icons/Resources.png');
}

#Peep {background-position-x: -0px;}
#Food {background-position-x: -24px;}
#Nest {background-position-x: -48px;}
#Ore {background-position-x: -72px;}
#Skill {background-position-x: -96px;}

.resource-tip
{
	width: 16px;
	height: 16px;
	background-size: 80px 16px;
	background-image: url('../../assets/icons/Resources.png');
	vertical-align: text-bottom;
}

#Peep-tip {background-position-x: -0px;}
#Food-tip {background-position-x: -16px;}
#Nest-tip {background-position-x: -32px;}
#Ore-tip {background-position-x: -48px;}
#Skill-tip {background-position-x: -64px;}

.resourceList
{
	position:fixed;
	padding:4px; 
	width:300px;

	background-color:#eeeeee; 

	border:1px;
	border-radius:8px 8px 0px 0px; 
	border-color:#cccccc; 
	border-style:solid;

	display: grid;
	grid-template-columns: 32px 180px 80px;
	grid-gap: 4px 4px;
}

.resourceProgress
{
	display: inline-block;
	height: 16px;
}

/* Village */
.village
{
	position: absolute;
	width: 99%;
	opacity: 1;
	z-index: -1;
}